.header {
  min-width: 100vw;
  background: #338dc9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header__title {
  color: #eee;
  font-size: clamp(10px, 5vw, 40px);
}